@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
    /* transition: all .5s linear; */
    list-style: none;
    text-decoration: none;
}

/* Global styling */
:root{
    --semi-green:#cdebbc;
    --white:#F8F5FF;
    --purple:#B28AF8;
    --dark-purple:#956AE1;
    --light-purple:#b492f0;
    --dark:#002240;
     --midnightblue:#0e2a47;
     --orange:#ffc727;
     --darker:#071c33;
    --gray:#e3e6f3;
    --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --shadow2:rgba(0, 0, 0, 0.04) 0px 3px 5px;
    --gradient:linear-gradient(to right, #dcc7ff, #C4A3FD);
    --gradientshadow:linear-gradient(to right, #956AE1, #c4a3fd);
}
/* Global styling ends */

/* header  start*/
.title{
    text-align: center;
    padding:.5rem 0;
    margin-bottom: 1rem;
}
.title h3{
    margin-top: 1rem;
}
.btn{
    padding:.4rem 1rem;
    border-radius:25px;
    outline: none;
    border:1.5px solid white;
    background-color: transparent;
    cursor: pointer;
    color:white;
    font-size: 12px;
}
.btn:hover{
    transform: scale(.98);
}
body{
    width: 100%;
    color:white;
    background-color: var(--purple);
}
html{
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: auto;
  }

  /*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1124px;
    margin:0 15rem;
  }
  
  .section {
    padding: 4.5rem 0 2rem;
  }
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }
  .grid{
    display: grid;
    gap: 1.5rem;
  }
  .preBtn,
  .nxtBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height:25px;
    font-size: .6rem;
    border:1px solid transparent;
    background-image: var(--gradientshadow);
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
  }
  .preBtn:hover,
  .nxtBtn:hover{
    border:1px solid white;
    background-image:none;
  }
  /* ===========Header BG============= */
  .scroll-bg-header{
    background-color: var(--purple);
    box-shadow:var(--shadow2);
 }
 /*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: 0.5rem;
    border-radius:.5rem;
    background-color:white;
  }
  ::-webkit-scrollbar-thumb{
    background-color:var(--dark-purple);
    border-radius:.5rem;
  }
  ::-webkit-scrollbar-thumb:hover{
    /* background-color:#`; */
  }
  
header{
    position:fixed;
    background-color:transparent;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 0;
    z-index:1000;
}
.nav,
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_item{
    padding: 0 10px;
}
.nav_link{
    color: white;
}
.nav_logo{
    cursor: pointer;
    width:30px;
    height:30px;
    margin-right:2rem;
}
.nav_toggle,
.nav_close{
    display: none;
}
.nav_menu li a{
    background-color:transparent;
    padding: 0.3rem;
    border-radius:3px;
}

 .nav_menu li a:hover{
    color:var(--white);
    background-image:var(--gradientshadow);
 }
/* active-link */
.active-link{
    color:var(--white);
    padding: 0.3rem;
    background-image:var(--gradientshadow);
 }
/* Home */
.home-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;   
}
.home_img{
    width:700px;
    /* margin: 0 auto; */
    display: block;
}
.home_card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:.5rem;
}
.home_card img{
    width:50px;
    margin-bottom: 2rem;
}
.home_card h1{
    font-size:2.8rem;
}
.home_card h3{
    font-size: 1.3rem;
}
.home_card p{
    width: 70%;
    line-height: 1.5;
    font-size: 0.9rem;
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.play .btn{
    padding: 8px 4rem;
    background-color: white;
    color: var(--purple);
}
.play .btn:hover{
    background-color: transparent;
    color:white;
}
.fa-play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height:40px;
    border:1px solid transparent;
    background-image: var(--gradient);
    border-radius: 50%;
    cursor: pointer;
}
.fa-play:hover{
    border:1px solid white;
    background-image: var(--purple);
}
/* Sponsor */
.sponsor-card{
    transition: all .5s ease;
}
.sponsor-card h3{
    margin-top: 0.5rem;
}
.wiper,
.portfolio-slider,
.blog-slider{
    width: 100%;
    height: 100%;
    margin:30px 0;
}
.swiper-pagination-bullet{
    border:5px solid var(--light-purple);
    /* box-shadow: var(--shadow); */
 }
  
 .swiper-pagination-bullet-active{
    background-color: var(--purple);
 }
/* ====About=== */
.about_container{
    position: relative;
    z-index:1;
}
.about-head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10rem;
    align-items: center;
}
.about-img{
    width:500px;
}
.line{
    position: absolute;
    width:90px;
    height: 1px;
    background-color:white;
    top:10%;
    right:38%;
}
.about-card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:1rem;
}
.about-card h4{
    font-weight: lighter;
    line-height: 1.5;
}
.about-card p{
    font-size: 0.8rem;
    line-height: 1.5;
}
.about-card .btn{
    width: 60%;
    padding: 12px 4rem;
    background-color: #fff;
    color: #956AE1;
}
/* =======stats-head===== */
.stats_container{
    margin-bottom: 4rem;
}
.stats-head .title h3{
    margin-top: 1rem;
}
.btnStats{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: var(--dark-purple);
    /* border: none; */
    padding:1.5rem;
    border-radius:10rem;
    border:.1px solid white;
    box-shadow: var(--shadow2);
}
.btnStats:hover{
    transform:none;
}
.counter{
    font-size:3.5rem;
}
.stat-counter{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.stat-counter small{
    font-size:1.1rem;
}
.conunter_head{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:.4rem;
}
.conunter_head span{
    font-size:3.5rem;
}
.bf{
    position: relative;
}
.bf::before{
    content: '';
    position: absolute;
    width:70px;
    height:.5px;
    background-color: white;
    left:-9rem;
    top: 50%;
    transform: rotate(270deg);
}
.bf::after{
    content: '';
    position: absolute;
    width:70px;
    height:.5px;
    background-color:white;
    right:-9rem;
    top: 50%;
    transform: rotate(270deg);
}
/* ======Services====== */
.services,
.portfolio{
    background-color: var(--dark-purple);
}
.service-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap:2rem;
    padding-top:1rem;
}
.boxService{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    background-color: var(--purple);
    padding:2rem;
    border-radius:10px;
    box-shadow: var(--shadow2);
}
.box-title h5{
    margin-bottom: 0.7rem;
}
.service-img{
    width:140px;
}
.fa-plus{
    position: absolute;
    right:0;
    bottom:0;
    background-color: var(--dark-purple);
    padding:.8rem;
    border-top-left-radius:10px;
}
/* ===Portfolio=== */
.portfolio{
    position: relative;
}
.port-box{
    background-color: var(--purple);
    width:15.5rem;
    height: 19rem;
    border-radius:10px;
    cursor: pointer;
    transition: all .5s ease;
}
.port-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.port-box:hover{
    transform: scale(.99);
}

.slider_container,
.slider_2{
    width: 100%;
    height: 100%;
    margin: 20px 0;
}
.content,
.content2{
    margin-bottom:70px;
}
.sliderBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.port-img{
    width:220px;
}
.md{
    width:180px;
}
.port-box-img{
    width:100%;
    height:11rem;
    background-color: #e2fef0;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cl{
    background-color:#AACBFC;
}
.cl1{
    background-color: #FFC7E1;
}
.cl2{
    background-color: #FCFFCE;
}
.port-text{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.5rem;
    margin:30px 0;
}

/* Blog */
.blog-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blog-head .title{
    z-index: 100;
}
.blog-head .imgbg{
    position: absolute;
    width:150px;
    top:18%;
    right:13%;
    z-index:1;
}
.blog{
    position: relative;
    background-color: var(--dark-purple);
}
.blog::before{
    position: absolute;
    content: '';
    width:100%;
    left:0;
    top:-50%;
    height:150%;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:45rem 45rem 0 0;
    /* z-index:10; */
}
.blog-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.blog-box{
    position: relative;
    width:15.5rem;
    height:17rem;
    background-color: var(--purple);
    border-radius:17px;
    box-shadow: var(--shadow2);
    cursor: pointer;
    transition: all .5s ease;
    z-index: 100;
}
.blog-box:hover{
    transform: scale(.99);
}
.blog-box .fa-plus{
    border-bottom-right-radius:17px;
}
.blog-box .text{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}
.blog-box .text p{
    font-size: 0.8rem;
    font-weight: bolder;
    margin-top: 0.5rem;
}
.blog-box .text h4{
    font-weight: lighter;
    font-size: 0.8rem;
}

  
/* Contact */
.contact{
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1111;
    transition: all .5s linear;
}
.closeForm{
    position: absolute;
    top:5%;
    right: 10%;
    font-size:1.2rem;
    font-weight: lighter;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
}
.closeForm:hover{
    background-color: rgb(213, 209, 209);
    color:rgb(247, 37, 37);
}
.contact.active{
    top: 0;
}
.box-details{
    background-color: var(--dark-purple);
    width:35rem;
    height:28rem;
    border-radius:5px;
    /* gap:1rem; */
}
.card-cont{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
}
.card-cont input,
.card-cont textarea{
    padding:.7rem 1rem;
    width: 100%;
    border-radius: 3px;
    border:.5px solid var(--purple);
    outline: none;
    background-color: transparent;
    transition: .5s ease;
    color: white;
}
.card-cont input::placeholder,
.card-cont textarea::placeholder{
    color: white;
}
.card-cont input:focus,
.card-cont textarea:focus{
    border:.5px solid white;
}
.card-cont button{
    position: relative;
    width: 100%;
    padding:.8rem 1rem;
    background-image: var(--gradientshadow);
    outline: none;
    box-shadow: var(--shadow);
    border: none;
    border-radius:3px;
    cursor: pointer;
    transition: .5s ease;
    color: white;
}
.card-cont button:hover{
    background-image: var(--gradient);
}

/* footer */
footer{
    position: relative;
    background-color: var(--purple);
}
.footimg{
    position: absolute;
    width:300px;
    top:-10%;
    left:5%;
    z-index: 11;
}
.footer{
    position: relative;
}
.imgfooter{
    position: absolute;
    top:10%;
    right:15%;
    z-index: 11;
    width:120px;
}
.footer-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:6rem;
}
.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
    margin-bottom:4rem;
    position: relative;
}
.links::before{
    position: absolute;
    content: '';
    width: 100%;
    height:.5px;
    background-color:white;
    bottom:-30%;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.top p{
    width:55%;
    line-height: 1.5;
    font-size: 0.9rem;
}
.sign{
    width:65%;
}
.top input{
    padding: 0.8rem 1rem;
    width: 100%;
    border-radius:5rem;
    outline: none;
    border:1px solid white;
    background-color:var(--purple);
    color:white;
}
.top input::placeholder{
    color: white;
}
.top .sign{
    position: relative;
}
.top br{
    display: none;
}
.top .btn{
    width: 30%;
    position: absolute;
    padding: 0.8rem 1rem;
    right:.1%;
    top:2%;
    border-radius:5rem;
    background-color:white;
    color:var(--dark-purple);
}
.top .btn:hover{
    background-color:transparent;
    transform:none;
    color: white;
}
.links .logo{
    
}
.links .logo p{
    font-size: 0.9rem;
    width:62%;
    margin-top:.5rem;
}
.quick-links{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}
.quick-links .link1 h4{
    margin-bottom: 0.5rem;
}
.quick-links .link1 li{
    padding: 0.5rem 0;
}
.quick-links .link1 li a{
    color:var(--white); 
    transition:all .5s ease;  
}
.quick-links .link1 li a:hover{
    padding-left: 0.2rem;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.social .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.social .icons div{
    background-color:#dcc7ff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius:50%;
    box-shadow: var(--shadow);
}
.social .icons div i{
    background-image: var(--gradientshadow);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}
.social .icons div:hover{
    background-image: var(--gradientshadow);
}
/* ===========Large Devices============ */
@media screen and (max-width:1030px){
    .container{
        margin: 0 6rem;
    }
      
    /* .sponsor_img {
        gap:5rem;
    } */
    .about-head{
        grid-gap:2rem;
    }
    .line {
        width:60px;
        top:4%;
        right:43%;
    }
    .about-img {
        width: 450px;
    }
    .btnStats {
        padding: 1rem;
    }
    .bf::after {
        right:-7rem;
        width: 50%;
    }
    .bf::before{
        left:-7rem;
        width: 50%;
    }
    .counter,
    .conunter_head span{
        font-size: 3rem;
    }
    .port-box{
        width:195px;
        height: 17rem;
    }
    .port-box-img{
        width:100%;
    }
    .port-img {
        width:180px;
    }
    .md {
        width: 150px;
    }
    .blog-box{
        width: 195px;
        height:235px;
    }
    .blog-box .text p {
        font-size: 0.7rem;
    }
    .footimg {
        width:150px;
        top: -10%;
        left:2%;
    }
    .quick-links{
        /* margin-right:3rem; */
        gap:2rem;
    }
}


@media(max-width:768px){
    .container {
        width:85%;
        margin: 0 3rem;
    }
    .cta{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
    .nav_list {
        display:flex;
        align-items:flex-start;
        justify-content:flex-start;
        flex-direction: column;
        gap:1rem;
        padding-top:4rem;
        padding-left: 1rem;
        height: 100vh;
        width:30%;
        backdrop-filter:blur(15px);
        position: absolute;
        top: 0;
        right:-300px;
        transition: all .5s ease;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .nav_close{
        position: absolute;
        display: block;
        top:1.3rem;
        left:12%;
        cursor: pointer;
        font-size: 1.4rem;
    }
    .nav_close:hover{
        color: rgb(246, 46, 46);
    }
    .flick{
        right: 0;
    }
    .nav_toggle{
        cursor: pointer;
        display: block;
    }
    
    .home_img{
        width: 600px;
    }
    
    .about-head {
        grid-gap:3rem;
    }
    .about-img {
        width:300px;
    }
    .about-card .btn{
        width: 70%;
    }
    .line{
        top:3%;
        right:47%;
    }
    .btnStats {
        padding: 1.2rem;
    }
    .counter,
    .conunter_head span{
        font-size:2.5rem;
    }
    .stat-counter small {
        font-size: 1rem;
    }
    .bf::after {
        right: -5rem;
        width:60%;
    }
    .bf::before{
        left: -5rem;
        width:60%;
    }
    .stats_container{
        margin-bottom:4rem;
    }
    .service-box{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .slider_container .mySlide2,
    .slider_container .mySlide1{
        display: grid;
        gap:1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .port-box{
        width:400px;
        height: 17rem;
    }

    .port-img {
        width:220px;
    }
    .md {
        width: 180px;
    }
    .blog-box{
        width:300px;
        height:300px;
    }
    .blog-box .text p {
        font-size: 0.7rem;
    }
    .blog-head{
        padding-bottom: 1.5rem;
    }
    .top br{
        display: block;
    }
    .links{
        grid-template-columns: repeat(1, 1fr);
        grid-gap:2rem;
    }
    .footer-card{
        gap:3rem;
    }
    .links::before{
        bottom: -13%;
    }
    
}

@media(max-width:426px){
    .container{
        width:80%;
    }
    .section{
        padding:5rem 0 0;
    }
    .home-grid{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }
    .home_img{
        width:300px;
    }
    .home_card{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }
    .home_card p{
        text-align: center;
    }
    .play .btn{
        padding: 14px 4rem;
    }
    .home_card img {
        position: absolute;
        width:150px;
        left:-30%;
        top:-50%;
    }
    .fa-play{
        position: absolute;
        top:-30%;
        width:60px;
        height:60px;
    }
    .about-head{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-card .btn{
        width:100%;
        padding:.8rem;
    }
    .stats-head{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .btnStats {
        flex-direction: column;
        border-radius:100px;
        height: 30rem;
        width: 15rem;
    }
    .port-box{
        width:400px;
        height: 17rem;
    }
    .port-box-img{
        width:340px;
    }
    .port-img {
        width:220px;
    }
    .md {
        width: 180px;
    }
    .bf::after {
        width:75px;
        height:.5px;
        right:25%;
        top:-50%;
        transform: rotate(180deg);
    }
    .bf::before{
        width:75px;
        height:.5px;
        left:20%;
        top:7rem;
        transform: rotate(180deg);
    }
    .blog-head .imgbg {
        width:80px;
        top: 18%;
        right:15%;
        z-index: 10;
    }
    .footer{
        overflow: hidden;
    }
    .footimg {
        width: 150px;
        top: -3%;
        left:-10%;
    }
    .imgfooter {
        top:30rem;
        right:-7%;
        width:100px;
    }
    .links{
        margin-top:5rem;
    }
    .top img{
        width:90px;
    }
    .top p {
        width:100%;
        text-align: center;
    }
    .top h1{
        text-align: center;
        line-height:1.5;
    }
    .quick-links{
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
    }
    .links .logo p {
        width:100%;
    }
    .links::before{
        bottom: -10%;
    }
    .top input{

    }
    .top .btn{
        top:3rem;
        left:0;
        width:100%;
    }
    .social .icons{
        grid-gap: 0.5rem;
    }
    .box-details{
        width:22rem;
    }
    .line {
        display: none;
    }
}

@media(max-width:376px){
    .container{
        width:85%;
        margin: 0 2rem;
    }
    .box-details{
        width:20rem;
    }
    .nav_list{
        width:170px;
    }
    .btnStats{
        margin-bottom:4rem;
    }
    .home_card h1 {
        font-size:2.5rem;
    }
    .port-box-img{
        width:318px;
    }
    .quick-links {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap:1rem;
    }
    .links::before {
        bottom: -7%;
    }
}
@media(max-width:320px){
    
    .container{
        /* width:90%; */
        margin: 0 1.5rem
    }
    .home_img{
        width:270px;
    }
    .box-details{
        width:18rem;
    }
    .about-img{
        width: 250px;
    }
    .home_card h1{
        font-size:2rem;
    }
    .service-box {
        grid-template-columns: repeat(auto-fit, minmax(255px, auto));
    }
    .port-box-img{
        width:273px;
    }
    .top img {
        width:70px;
    }
    .footimg {
        width:120px;
        top: -3%;
        left: -10%;
    }
    .social{
        flex-direction: column;
        gap:1em;
    }
}



